MVC_Hunde/Connected Services/ProxyEstado/WCF_Hunde1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://norvil/WCF_Hunde/WCF_Hunde.ServicioEstado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" />
  <xs:element name="ListarEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ListarEstadosResult" nillable="true" type="q1:ArrayOfEstado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>