MVC_Hunde/Connected Services/ProxyTratamiento/WCF_Hunde1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Hunde" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTratamiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tratamiento" nillable="true" type="tns:Tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTratamiento" nillable="true" type="tns:ArrayOfTratamiento" />
  <xs:complexType name="Tratamiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_trat" type="xs:short" />
      <xs:element minOccurs="0" name="est_trat" type="xs:short" />
      <xs:element minOccurs="0" name="nom_trat" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tratamiento" nillable="true" type="tns:Tratamiento" />
</xs:schema>